﻿@font-face {
    font-family: 'supersonic';
    src: url('../fonts/supersonic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body 
{
    background-image: url('../images/backGround_2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#imgBatleList 
{
    max-width:150px;
    max-height:75px;
    width: auto;
    height: auto;
}
#huehuePerfil
{
    padding-right: 0px;
    width:200px;
    height:200px;
}
#huehueNivel
{
    padding-right: 0px;
    width:160px;
    height:160px;
    border: 1px solid #000000;
}
#userHeader
{
    background-color: #ffffff;
    border-radius: 5px;
}
#userData {
    width: 500px;
    margin-left: 0px;
    margin-right: 7%;
}
#perfilData
{
    margin-top:2%;
    background-color: #ffffff;
    margin-bottom: 0px;
    border-radius: 5px;
}
#playersOnlineTable
{
    padding: 15px;
}
.userDataDivs
{
   font-size: 17pt;
   padding: 0px;
}
table
{
    width: 50%;
}
#gamePanel
{
    border:1px solid #000000;

}
.div-game{
    background-color: black;
    width: 100%;
    height: 100%;
    min-height: 90%;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items : center;
    align-items: center;
    -webkit-justify-content:center;
    justify-content center;
}
#divLogin{
    margin-top: 70px;
    background-color: #ffffff;
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 50px;
}
#cartaImagem
{
    width:150px;
    height:150px;
}
#cartaImage
{
    width:155;
    height:110px;
    margin-top: 10px;
    margin-left: 20px;
}
#divCusto
{
    width: 10px;
    float:right;
    margin-top: -35px;
    margin-right: 15px
}
.textCardData
{
    color : white; 
}
#cardName
{
    margin-top: 15px;
    margin-left: 15px;
}
#cardType
{
    margin-left: 15px;
    margin-top: 5px;
}
#cardAtDefText
{
    margin-left: 30px;
    margin-top: -5px;
}
#cardptAtDef
{
    margin-left: 25px;
    margin-top: -20px;
    font-size: 80pt;
}
#carta
{
    margin: 2px;
    padding: 2px;
    border-radius: 5px;
    background-image: url('../images/site/card_layout_p.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:100%;
    width:200px;
    height:350px;
    font-size: 13px;
    color: black;
}
#divLogin
{
    background-color: #32CD32;
    padding-bottom: 0px;
    margin-bottom: 25px;
}
#cantainer
{
    margin-top: -75;
}
#titulo
{
    text-align: center;
    font-family: 'supersonic';
    font-size: 60px;
    padding-bottom: 10px; 
    color: #000000;
}
#formAnimate
{
    padding-bottom: 0px;
    margin-bottom: 0px;
}
#formCadastro
{
    padding-top: 25px;
}
#game
{
     margin: auto;
     background-color: #fff;
}
#myModal
{
    text-align: center;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
.thumbnailPerfil
{
    width: 60;
    height: 60px;
    padding: 10px;
}
#chat
{
    width: 100px;
    height: 100px;
    float: right;
    border:2px solid black;
}
#game
{
    float: left;
}
.modalImgPerfil
{
    padding-right: 0px;
    width:100px;
    height:100px;
	position:relative;
	display: inline-block;
	padding:10px;
}


