<!-- Fixed navbar -->
    <nav class="navbarp">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/admin">Admin Page</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cartas <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li role="separator" class="divider"></li>
                <li><a href="/cartaCadastro">Cadastro</a></li>
                <li><a href="/cartaConsulta">Consulta de Cartas</a></li>
                <li role="separator" class="divider"></li>
              </ul>
            </li>


            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Usuarios <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li role="separator" class="divider"></li>
                <li><a href="#">Cadastro</a></li>
                <li><a href="#">Consulta de Cartas</a></li>
                <li role="separator" class="divider"></li>
              </ul>
            </li>
            
            <!--
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
            -->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

<!-- Begin page content -->


<div class="jumbotron">
<form name="myForm">

<div ng-show="sucesso" class="alert alert-success" role="alert">{{ carta.nome }}}</div>

<fieldset>
      <legend>Cadastro de Cartas</legend>
          <div class="form-group">
            <label for="exampleInputPassword1">nome</label>
            <input type="text" class="form-control" ng-model="carta.nome" required>
          </div>

          <div class="form-group">
            <label for="exampleInputPassword1">Tipo</label>
            <input type="text" class="form-control" ng-model="carta.tipo" required>
          </div>

          <div class="form-group">
            <label for="exampleInputPassword1">Ataque</label>
            <input type="number" class="form-control" ng-model="carta.ataque" required>
          </div>

          <div class="form-group">
            <label for="exampleInputPassword1">Defesa</label>
            <input type="number" class="form-control" ng-model="carta.defesa" required>
          </div>

          <div class="form-group">
            <label for="exampleInputPassword1">Custo</label>
            <input type="number" class="form-control" ng-model="carta.custo" required>
          </div>

          <div class="form-group">
            <label for="exampleInputPassword1">Habilidade</label>
            <input type="number" class="form-control" ng-model="carta.habilidade" required>
          </div>

          <div class="form-group">
            <label for="exampleInputFile">Imagem da carta</label>
            <input type="file" ngf-select ng-model="carta.imagemCarta" name="file" accept="image/*" ngf-max-size="2MB" required 
                   ngf-model-invalid="errorFile">
            <i ng-show="myForm.file.$error.required">*required</i><br>
            <i ng-show="myForm.file.$error.maxSize">File too large 
                {{errorFile.size / 1000000|number:1}}MB: max 2M</i>

            <img ng-show="myForm.file.$valid" ngf-thumbnail="carta.imagemCarta" class="thumb"> <button ng-click="carta.imagemCarta = null" ng-show="carta.imagemCarta">Remove</button>

            <span class="progress" ng-show="carta.imagemCarta.progress >= 0">
              <div style="width:{{carta.imagemCarta.progress}}%" ng-bind="carta.imagemCarta.progress + '%'"></div>
            </span>
            <span ng-show="carta.imagemCarta.result">Upload Successful</span>
            <span class="err" ng-show="errorMsg">{{errorMsg}}</span>

          </div>
          <button class="btn btn-default" ng-disabled="!myForm.$valid" ng-click="cadastraCarta(carta)">Submit</button>

</fieldset>
</form>
</div>