<!-- Fixed navbar -->
    <nav class="navbarp">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/admin">Admin Page</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cartas <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li role="separator" class="divider"></li>
                <li><a href="/cartaCadastro">Cadastro</a></li>
                <li><a href="/cartaConsulta">Consulta de Cartas</a></li>
                <li role="separator" class="divider"></li>
              </ul>
            </li>


            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Usuarios <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li role="separator" class="divider"></li>
                <li><a href="#">Cadastro</a></li>
                <li><a href="#">Consulta de Cartas</a></li>
                <li role="separator" class="divider"></li>
              </ul>
            </li>
            
            <!--
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
            -->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

<!-- Begin page content -->
<div class="row">
		<div ng-repeat="carta in cards">
            <div class="col-xs-6 col-lg-4 row">
              <div id="cartaImagem" class="col-xs-6 col-lg-2">
              	<img  src="{{ carta.image }}" class="img-responsive" alt="Responsive image">
              </div>
              <div class="col-xs-6 col-lg-2">
	              <h2>Nome  : {{ carta.name   }}  </h2>
    	          <h2>Tipo  : {{ carta.type   }}  </h2>
        	      <h2>Ataque: {{ carta.attack }}</h2>
            	  <h2>Defesa: {{ carta.defense}}</h2>
              	  <h2>Custo : {{ carta.cost    }}
              	  <br>
              	  <button>Alterar carta</button>
              </div>
            </div><!--/.col-xs-6.col-lg-4-->
        </div>
</div>

<button ng-click="consultaCartas()">consulta teste</button>