﻿<div class="right_col" role="main">
  <div class=""></div>

  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">

  
        
            <!-- start of user-activity-graph -->
            <!--<div id="graph_bar" style="width:100%; height:280px;"></div>-->
            <!-- end of user-activity-graph -->

            <div class="" role="tabpanel" data-example-id="togglable-tabs">
              <div id="game" class="div-game"><div>
              <!--<div id="chat" class="div-game"><div>-->
            </div>
          </div>
        </div>
  
</div>
<!-- /page content -->

<!-- footer content -->
<footer>
  <div class="pull-right">
    Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
  </div>
  <div class="clearfix"></div>
</footer>
<!-- /footer content -->
</div>
</div>





