﻿ <div class="container" id="cantainer">
   <!-- page content -->
   <div class="" ng-controller="LoginCtrl" id="divLogin">
    <h1 id="titulo">HUE HUE CARD GAME</h1>
    <!--Form para o login-->
    <div class="animate form" id="formAnimate">
      <div class="col-xs-4">
        <img src="../images/site/capa.png">
      </div>
      <form ng-submit="login()" id="formCadastro">
        <div class="form-group col-xs-12 col-md-8">
          <input ng-model="email" type="text" placeholder="Email" required="" name="username" class="form-control"/>
        </div>
        <div class="form-group col-xs-12 col-md-8">
          <input ng-model="password" type="password" placeholder="Password" required="" name="password" class="form-control"/>
        </div>
        <div class="form-group col-xs-12 col-md-8">
          <button id="send" type="submit" class="btn btn-success">Partiu</button>
          <a href="/cadastro" class="btn btn-default">Entrar para a zoeira</a>
          <a href="/admin" class="btn btn-default">Area do Admin</a>
        </div>
        <div class="clearfix"></div>
      </form>
      
    </div>
  </div>
  <!--Dados sobre o Jogo em offline-->
  <div class="row container marketing">
    <div class="col-lg-4"><img src="../images/cardsHome.png" alt="Generic placeholder image" width="140" height="140" class="img-circle center-block dadosSiteImage"/>
      <h2>Cartas</h2>
      <p>As cartas são o artefato proncipal do jogo com elas voce travara grandes batalhas, atacando os seus adversarios e os derrotandos...</p>
      <p><a href="#" role="button" class="btn btn-default">View details »</a></p>
      <!-- /.col-lg-4-->
    </div>
    <div class="col-lg-4"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140" class="img-circle center-block dadosSiteImage"/>
      <h2>Jogo</h2>
      <p></p>Como tudo isso funciona, como é o campo de batalha que voce ira batalhar, quantas cartas voce tera? tudo isso voce pode ver aqui...
      <p></p><a href="#" role="button" class="btn btn-default">View details »</a>
    </div>
    <!-- /.col-lg-4-->
    <div class="col-lg-4"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140" class="img-circle center-block dadosSiteImage"/>
      <h2>Historia</h2>
      <p></p>Como tudo isso começou? de onde vem estas cartas e como voce pode ter a sua propeia historia
      <p></p><a href="#" role="button" class="btn btn-default">View details »</a>
    </div>
    <!-- /.col-lg-4-->
    <!-- /.row-->
  </div>
  <!-- /page content -->
</div>
</div>
</div>