﻿<div class="login">
    <div class="login_wrapper">
        <div class="animate form login_form">
            <section class="login_content">
                <form ng-submit="login()">
                    <h1>LOGIN</h1>
                    <div>
                        <input type="email" class="form-control" placeholder="Email" required="" ng-model="email" />
                    </div>
                    <div>
                        <input type="password" class="form-control" placeholder="Senha" required="" ng-model="password" />
                    </div>
                    <div>
                        <button class="btn btn-primary submit" type="submit">#Partiu</button>
                    </div>
                    <div>
                        <a class="btn btn-primary" href="/cadastro">Quero entrar na Zoeira</a>
                    </div>

                    <div class="clearfix"></div>
                    
                    <div class="separator">
                        

                        <div class="clearfix"></div>
                        <br />

                        <div>
                            <h1>O jogo da Zoeira...</h1>
                            <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>