<div class="right_col" role="main">
  <div class=""></div>

  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <div class="col-md-2 col-sm-2 col-xs-12 profile_left" id="perfilLeft">
            <div class="profile_img">
              <div id="crop-avatar">
                <!-- Current avatar -->
                <img id="huehuePerfil" name="huehuePerfil" class="img-responsive avatar-view" src="{{ player.user.perfilImage }}" alt="Avatar" title="Change the avatar">
              </div>
            </div>
            <h3>{{ player.user.nickname }}</h3>

            <ul class="list-unstyled user_data">
              <li>Nome:{{ player.user.name }}</li>
              <li>{{ player.user.email }}</li>
            </ul>
            <!-- start skills -->
            <h4>Experiencia</h4>
            <ul class="list-unstyled user_data">
              <li>
                <p>xp</p>
                <div class="progress progress_sm">
                  <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="player.user.experience" aria-valuemax="1000" style="width:70%">
                   </div>
                </div>
              </li>
              <li>
                <p>Nivel : {{ player.user.nivel}}</p>
              </li>
			  <li>
                <p>Partidas Ganhas : {{ player.user.win}}</p>
              </li>
			  <li>
                <p>Partidas Perdidas : {{ player.user.lose}}</p>
              </li>
            </ul>
            <!-- end of skills -->
            </div>
          <div class="col-md-10 col-sm-10 col-xs-12">

            <div class="profile_title">
              <div class="col-md-6">
                <h2>Aqui esta o seu id : {{ player.user._id }} </h2>
              </div>
              <div class="col-md-6">
                <div id="reportrange" class="pull-right" style="margin-top: 5px; background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #E6E9ED">
                  <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                    <span>{{ dataAtual() }}</span> - <a href="/logout">SAIR</a>
                </div>
              </div>
            </div>
            <!-- start of user-activity-graph -->
            <!--<div id="graph_bar" style="width:100%; height:280px;"></div>-->
            <!-- end of user-activity-graph -->

            <div class="" role="tabpanel" data-example-id="togglable-tabs">
              <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Novas Atividades</a>
                </li>
                <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Usuarios Online</a>
                </li>
                <li role="presentation" class=""><a href="#tab_content3" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">Meu Perfil</a>
                </li>
                <li role="presentation" class=""><a href="#cartas" role="tab" id="profile-tab3" data-toggle="tab" aria-expanded="false" ng-click="cartasJogador(player.user._id)">Minhas Cartas</a>
                </li>
				<li role="presentation" class=""><a href="#ranking" role="tab" id="profile-tab4" data-toggle="tab" aria-expanded="false" ng-click="getRanking()">Ranking</a>
                </li>
              </ul>
              <!--Conteudo lateral do perfil-->
              <div id="myTabContent" class="tab-content">
              <!--Novas Atividades-->
                <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                  <!-- Button trigger modal -->
                  

                  <!-- Button trigger modal -->
                  <button type="button" class="btn btn-default btn-lg btn-block" data-toggle="modal" data-target="#feedNoticia">
                    ADICIONAR UMA MENSAGEM AO FEED DE NOTICIAS
                  </button>

                  <!-- Modal -->
                  <div class="modal fade" id="feedNoticia" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h3 class="modal-title" id="exampleModalLabel">DESENBUCHA OQUE TU QUER FALAR...</h3>
                        </div>
                        <div class="modal-body">
                          <textarea class="form-control" rows="5" id="postContent"  ng-model="postContent"></textarea>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">FECHAR</button>
                          <button type="button" class="btn btn-primary" id="btn_postar">POSTAR</button>
                        </div>
                      </div>
                    </div>
                  </div>


                  <ul class="messages">
                    <li ng-repeat="feed in feeds">
                      <img src="{{ feed.icone }}" class="avatar" alt="Avatar">
                      <div class="message_date">
                        <h3 class="date text-info">{{ feed.day }}</h3>
                        <p class="month">{{ getMouthExtense[feed.mouth] }}</p>
                      </div>
                      <div class="message_wrapper">
                        <h4 class="heading">{{ feed.titulo }}</h4>
                        <blockquote class="message">{{ feed.content }}</blockquote>
                        <br />
                        <p class="url">
                          <span class="fs1 text-info" aria-hidden="true" data-icon=""></span>
                          <a href="#"></i>  </a>
                        </p>
                      </div>
                    </li>

                  </ul>
                </div>
                <!-- Final das Novas Atividades -->

                <!-- Usuarios Online-->
                <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                  <table class="data table table-striped no-margin">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>USUARIO</th>
                        <th>NIVEL</th>
                        <th>ONLINE</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="data in users"  ng-if="player.socket_id != data.socket_id">
                        <td>{{ $index + 1    }}</td>
                        <td><button class="btn btn-sm btn-link" ng-click="dadosUsuarioOn(data)" ng-disabled="data.user.isPlaying">{{ data.user.nickname }}</button></td>
                        <td>{{ data.user.nivel    }}</td>
                        <td ng-if="data.user.isPlaying == true ">Não</td>
                        <td ng-if="data.user.isPlaying == false">Sim</td>
                        <td><button class="btn btn-sm btn-link" ng-click="toChallenger(data, player)" ng-disabled="data.user.isPlaying">CHAMAR PARA X1</button></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
				
				<!-- Modal Usuarios Online-->
                  <div class="modal fade" id="dadosUserOnline" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h3 class="modal-title" id="nickNameModalOnline">NICKNAME DO USUARIO</h3>
                        </div>
                        <div class="modal-body">
                          <img id="imageModalOnline" />
            						  <h3 id="nomeModalOnline">Nome</h3>
            						  <h3 id="nivelModalOnline">Nivel</h3>
            						  <h3 id="partidasGanhasModalOnline">Partidas Ganhas</h3>
            						  <h3 id="partidasPerdidasModalOnline" >Partidas Perdidas</h3>
            						  <h3 id="xpTotalModalOnline">Totas de XP Ganho</h3>
            						  <p  id="historiaModalOnline">Historia</p>
						  
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">FECHAR</button>
                        </div>
                      </div>
                    </div>
                  </div>
				
				
                <!-- Final dos Usuarios Online -->
                <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
                  <div class=".col-xs-12 .col-sm-6 .col-md-8">
                    <div class="input-group">
                      <span class="input-group-addon" id="basic-addon1">NOME</span>
                      <input type="text" class="form-control" value="{{player.user.name}}" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group">
                      <span class="input-group-addon" id="basic-addon1">NICKNAME</span>
                      <input type="text" class="form-control" value="{{player.user.nickname}}" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group">
                      <span class="input-group-addon" id="basic-addon1">EMAIL</span>
                      <input type="text" class="form-control" value="{{player.user.email}}" aria-describedby="basic-addon1" readonly="readonly" >
                    </div>
                    <div class="input-group">
                      <span class="input-group-addon" id="basic-addon1">NIVEL</span>
                      <input type="text" class="form-control" value="{{player.user.nivel}}" aria-describedby="basic-addon1" readonly="readonly" >
                    </div>
					<div class="form-group">
					  <label for="comment">Comment:</label>
					  <textarea class="form-control" rows="5" id="comment"></textarea>
					</div>
                  </div>
                  <div class="row col-lg-12">
                      <a class="btn btn-success float-right" data-toggle="modal" data-target="#modalImgPerfil">ALTERAR IMAGEM PERFIL</a>
                      <a class="btn btn-success float-right">SALVAR ALTERAÇOES</a>
                  </div>
				  <!-- Modal imagem perfil-->
                  <div class="modal fade" id="modalImgPerfil" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h3 class="modal-title" id="exampleModalLabel">ESCOLHA A SUA IMAGEM</h3>
                        </div>
                        <div class="modal-body">
                          <div>
            							<img ng-click="trocaImgPerfil(player.user._id, 'images\\perfil\\HuehuePerfil.png')" id="" name="" class="img-responsive avatar-view modalImgPerfil" src="images\perfil\HuehuePerfil.png" alt="Avatar" title="Change the avatar">
            							<img ng-click="trocaImgPerfil( player.user._id ,'images\\perfil\\HuehuePerfil2.png')" id="" name="" class="img-responsive avatar-view modalImgPerfil" src="images\perfil\HuehuePerfil2.png" alt="Avatar" title="Change the avatar">
                          <img ng-click="trocaImgPerfil( player.user._id ,'images\\perfil\\HuehuePerfil3.png')" id="" name="" class="img-responsive avatar-view modalImgPerfil" src="images\perfil\HuehuePerfil3.png" alt="Avatar" title="Change the avatar">
                          <img ng-click="trocaImgPerfil(player.user._id ,'images\\perfil\\HuehuePerfil4.png')" id="" name="" class="img-responsive avatar-view modalImgPerfil" src="images\perfil\HuehuePerfil4.png" alt="Avatar" title="Change the avatar">
            						  </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">FECHAR</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--Cartas do Jogador-->
                <div role="tabpanel" class="tab-pane fade" id="cartas" aria-labelledby="profile-tab">
                    <div class="row">
                      <div class="col-sm-6 col-md-2" ng-repeat="cartas in dados" id="carta">
                        <div id="divNome">
                            <h4 id="cardName">{{ cartas.card.name }}</h4>
                        </div>
                        <div id="divCusto">
                            <h4>{{ cartas.card.cost   }}</h4>
                        </div>
							<div>
								<img src="{{ cartas.card.image }}" class="img-responsive" alt="..." id="cartaImage">
							</div>
							<div id="dadosCarta" class="to_do">
							
							  <p class="" id="cardType">{{ cartas.card.type   }}</p>
							  <p class="textCardData" id="cardAtDefText">Ataque_______Defesa</p>
							  <p class="textCardData" id="cardptAtDef">{{ cartas.card.attack }}-{{ cartas.card.defense}}</p>
							</div>
                      </div>
                    </div>
                </div>
                <!--Fim da sessão de cartas-->
				<div role="tabpanel" class="tab-pane fade" id="ranking" aria-labelledby="profile-tab">
                    <table class="data table table-striped no-margin">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>USUARIO</th>
            						<th>PARTIAS GANHAS</th>
            						<th>PARTIAS PERDIDAS</th>
                        <th>NIVEL</th>
                        <th>TOT. EXPERIENCIA</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="data in ranking">
                        <td>{{ $index + 1    }}</td>
                        <td>{{ data.nickname }}</td>
            						<td>{{ data.win     }}</td>
            						<td>{{ data.lose    }}</td>
            						<td>{{ data.nivel    }}</td>
            						<td>{{ data.nivel * data.experience + data.experience}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
            </div>
        </div>
      
    </div>
</div>
<!-- /page content -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="myModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">- HUEHUE CARDGAME -</h4>
      </div>
      <div class="modal-body">
        <h3><p id="textDesafio">One fine body&hellip;</p></h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" id="btn_aceito">EU ACEITO</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">NÂO ACEITO</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>

<!-- footer content -->
<footer>
  <div class="pull-right">
    Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
  </div>
  <div class="clearfix"></div>
</footer>
<!-- /footer content -->
</div>
</div>
