﻿<DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <!--Tags meta-->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="full-screen" content="yes" />
        <meta name="screen-orientation" content="portrait" />
        <meta name="x5-fullscreen" content="true" />
        <meta name="360-fullscreen" content="true" />

        <!--Titulo-->
        <title>HueHueGame</title>

        <!--CSS, deixando bonito-->
        <link rel="stylesheet" href="css/bootstrap.css"/>
        <link rel="stylesheet" href="css/stylesSite.css"/>
        <link rel="stylesheet" href="css/custom.css"/>
        <link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="css/animate/animate.css"/>
        <!--Favicon-->
        <link rel="icon" type="image/GIF" href="res/favicon.ico" />

    </head>
    <body>   
      <div class="container body">
        <!-- Parte do Menu do Jogo, ele fica estatico na pagina-->
        <div class="x_content">
            <div class="" role="tabpanel" data-example-id="togglable-tabs">
                <div id="" class="tab-content">
                     <div class="container" id="cantainer">
                        <!-- page content -->
                        <div class="" id="divLogin">
                            {% if message %}
                               <div class="alert alert-danger" role="alert">teste</div>
                            {% endif %}
                            <h1 id="titulo">HUE HUE CARD GAME</h1>
                            <!--Form para o login-->
                            <div class="animate form" id="formAnimate">
                            <div class="col-xs-4">
                                <img src="../images/site/capa.png">
                            </div>
                            <form action="/login" id="formCadastro" method="post">
                                <div class="form-group col-xs-12 col-md-8">
                                <input ng-model="email" type="text" placeholder="Email" required="" name="username" class="form-control"/>
                                </div>
                                <div class="form-group col-xs-12 col-md-8">
                                <input ng-model="password" type="password" placeholder="Password" required="" name="password" class="form-control"/>
                                </div>
                                <div class="form-group col-xs-12 col-md-8">
                                <input id="send" type="submit" class="btn btn-success"></input>
                                <a href="/cadastro" class="btn btn-default">Entrar para a zoeira</a>
                                <a href="/admin" class="btn btn-default">Area do Admin</a>
                                </div>
                                <div class="clearfix"></div>
                            </form>
                            
                            </div>
                        </div>
                        <!--Dados sobre o Jogo em offline-->
                        <div class="row container marketing">
                            <div class="col-lg-4"><img src="../images/site/card_data_home.png" alt="Generic placeholder image" width="140" height="140" class="img-circle center-block dadosSiteImage"/>
                            <h2>Cartas</h2>
                            <p>As cartas são o artefato proncipal do jogo com elas voce travara grandes batalhas, atacando os seus adversarios e os derrotandos...</p>
                            <p><a href="#" role="button" class="btn btn-default">Veja Mais »</a></p>
                            <!-- /.col-lg-4-->
                            </div>
                            <div class="col-lg-4"><img src="../images/site/card_game_home.png" alt="Generic placeholder image" width="140" height="140" class="img-circle center-block dadosSiteImage"/>
                            <h2>Jogo</h2>
                            <p>Como tudo isso funciona, como é o campo de batalha que voce ira batalhar, quantas cartas voce tera? tudo isso voce pode ver aqui...</p>
                            <p></p><a href="#" role="button" class="btn btn-default">Veja Mais »</a>
                            </div>
                            <!-- /.col-lg-4-->
                            <div class="col-lg-4"><img src="../images/site/card_hist_home.jpg" alt="Generic placeholder image" width="140" height="140" class="img-circle center-block dadosSiteImage"/>
                            <h2>Historia</h2>
                            <p>Como tudo isso começou? de onde vem estas cartas e como voce pode ter a sua propeia historia</p>
                            <p></p><a href="#" role="button" class="btn btn-default">Veja Mais »</a>
                            </div>
                            <!-- /.col-lg-4-->
                            <!-- /.row-->
                        </div>
                        <!-- /page content -->
                        </div>
                        </div>
                        </div>   
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <!--Jquery-->
    <script src="js/jquery/jQuery.js"></script>
    <!--BootStrap-->
    <script src="js/bootstrap/bootstrap.js"></script>
    <!--Genterella Threme-->
    <script src="js/custom.js"></script>
    <!--Valição dos formularios-->
    <script src="js/validator/validator.js"></script>
</body>
</html>